.main-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:$primary_color;
  padding: 0 2rem;

  @include sm{
    display: flex;
    flex-direction: column;
    height: 10rem;
    margin-top: 20px;
    justify-content: center;
   margin-inline-end: 2px;
   margin-inline-start: 2px;
   padding-left: 100px;
   padding-bottom: 30px;
    
    
 
  }
}

.main-header h1 {
  color: white;
}
.logo {
  flex: 1;
  height: 78px;

  @include sm {
    height: 50%px;
    width: 50%px;
    margin-right: 70px;
 
    
  }

  @include md {
    margin-top: 8px;

    align-self: center;
  }



}