.btn{
    background-color: rgb( 255, 255, 255 );
    position: relative;
    display: inline-block;
    width: 100px;
    padding: 5px;
    z-index: 5;
    font-size: 25px;
    margin:0 auto;
    color: $blue;
    text-decoration: none;
    margin-right: 10px;
    cursor: pointer;
    
}
button:hover {
    background-color: #161611;
    color:$red;
  }

  .hr{
    padding: 0;
    border: none;
    border-top: 5px solid #fff;
    color: #fff;
    text-align: center;
    margin: 0px auto;
    width: 420px;
    height:10px;
    z-index: -10;
}

.text{
    font-size: 30px;
    text-align: center;
    position: relative;
    display: inline-block;
    margin: 19px 0px 0px 0px;
    /* top: 256.301px; */
    z-index: 3;
    width: 100%;
    line-height: 1.2em;
    display: inline-block;
}

.title{
    background: #33cc99;
    color:#fff;
   
    max-height:700px;
    overflow: hidden;
}

.container{
    width: 90%;
    max-width: 40rem;
    padding: 3rem;
    margin: 2rem auto;
    text-align: center;
    
    
}