* {
  box-sizing: border-box;
  font-display:block;
  
}

html {
  font-family: sans-serif;
  background: #fff;
  font-display:block;
 
}

body {
  margin: 0;
 
 
 
 // font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
}

main {
 
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; // Hace que el contenido se ajuste automáticamente al tamaño del contenedor
  min-height: 50vh;
  

  
 
 
}